*{margin: 0;
padding: 0;
box-sizing: border-box;}
.merge{
    position: relative;
}
.logoname{
    margin-top: 7%;
    margin-left: 9%;
    margin-bottom: 4%;
    width: 140px;
    height: 100px;
}
.nav{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
    background-color: rgb(11, 9, 12);
    color: rgb(209, 172, 127);
    display: flex;
    flex-direction: row;
}
.navhead{
  
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-style: oblique;
    letter-spacing: 2px;margin-top:3% ;
    margin-left: 4%;
}
.two{
    color:rgb(163, 137, 103);
}
.navlink{
    display: flex;
flex-direction: row;
margin-top:2% ;
margin-left: 5%;
}.linknav{list-style: none;
    text-decoration: none;
    margin-left: 4px;
    color: bisque;
    text-transform: capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-style: oblique;
    padding:10px 30px ;
    margin-left: 3%;}
    .linknav:hover{
        color:white;
    }
    .linknav:active{
        color: rgb(69, 69, 129);
    }